.header_game {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 2px solid rgb(105, 105, 105);
  box-shadow: 1px 1px 2px 1px rgb(105, 105, 105);
}

.bombs_completed {
  background-image: url('./assets/score0.png');
  height: 23px;
  width: 13px;
}

.game_bombs_count {
  color: black;
}

.game_time {
  background-color: rgb(0, 0, 0);
  display: flex;
  margin-top: 2px;
}

.start {
  cursor: pointer;
  border: none;
  height: 26px;
  width: 26px;
  background-image: url('./assets/start.png');
}

.start_pressed {
  cursor: pointer;
  border: none;
  height: 26px;
  width: 26px;
  background-image: url('./assets/start_pressed.png');
}

.win {
  cursor: pointer;
  border: none;
  height: 26px;
  width: 26px;
  background-image: url('./assets/win.png');
}

.lose {
  cursor: pointer;
  border: none;
  height: 26px;
  width: 26px;
  background-image: url('./assets/lose.png');
}

.wow {
  cursor: pointer;
  border: none;
  height: 26px;
  width: 26px;
  background-image: url('./assets/wow.png');
}

.field_container {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.field {
  height: 400px;
  width: 330px;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  border: 3px solid rgb(105, 105, 105);
  box-shadow: 1px 1px 2px 1px rgb(105, 105, 105);
}

.field_btns_container {
  padding: 5px;
  margin-top: 25px;
  border: 2px solid rgb(105, 105, 105);
  box-shadow: 1px 1px 2px 1px rgb(105, 105, 105);
}

.field_btns {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(16, 20px);
}

.btn {
  cursor: pointer;
  background-image: url('./assets/btn.png');
  border: none;
  height: 20px;
}

.bomb {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 20px;
  margin-left: -6px;
  margin-top: -1px;
  background-image: url('./assets/bomb.png');
  box-sizing: border-box;
}

.bomb_cmpl {
  height: 20px;
  width: 20px;
  background-image: url('./assets/bomb_cmpl.png');
  background-size: cover;
  box-sizing: border-box;
}

.notBomb {
  font-size: 15px;
  font-weight: bold;
}

.back_pressed_null {
  height: 20px;
  width: 20px;
  background-image: url('./assets/disabled.png');
  background-size: cover;
}

.back_pressed {
  margin-top: -1px;
  margin-left: -6px;
  height: 20px;
  width: 20px;
  background-image: url('./assets/disabled.png');
  background-size: cover;
}

.flag {
  width: 20px;
  height: 20px;
  background-image: url('./assets/flag.png');
  background-size: cover;
}

.question {
  width: 20px;
  height: 20px;
  background-image: url('./assets/question.png');
  background-size: cover;
}

.question_perssed {
  width: 20px;
  height: 20px;
  background-image: url('./assets/question_pressed.png');
  background-size: cover;
}

.score-0 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score0.png');
}
.score-1 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score1.png');
}
.score-2 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score2.png');
}
.score-3 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score3.png');
}
.score-4 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score4.png');
}
.score-5 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score5.png');
}
.score-6 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score6.png');
}
.score-7 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score7.png');
}
.score-8 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score8.png');
}
.score-9 {
  height: 23px;
  width: 13px;
  background-image: url('./assets/score9.png');
}
.score {
  display: flex;
  width: 39px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
}